<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd"
>
<!-- $Id: web.xml,v 1.5 2004/03/10 20:29:12 ddekany Exp $ -->    

<web-app>
  <display-name>FreeMarker Jython Example</display-name>
  
  <servlet>
    <servlet-name>twitOfTheYear</servlet-name>
    <servlet-class>UpperClassTwitOfTheYearServlet</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>TemplateDelay</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ObjectWrapper</param-name>
      <param-value>jython</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>twitOfTheYear</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
