**/build/
/.out/
/bin/
/.bin/
/target/

/gradle.properties
/archive/
/META-INF

.classpath
.project
.settings

.idea/
*.iml
*.iws
*.ipr
.idea_modules/
**/out/

*.tmp
*.bak
*.swp
*~

.gradle

.DS_Store*
.AppleDouble
.LSOverride

.directory
.Trash*

**/adhoctest/