/.ivy/
/.bin/
/build/
/build.properties
/archive/
/ide-dependencies/

/out/
/bin/
/target/

.idea/
*.iml
*.iws
*.ipr
.idea_modules/

*.tmp
*.bak
*.swp
*~

.gradle

.DS_Store
.AppleDouble
.LSOverride

.directory
.Trash-*
