<html>
<head>
</head>
<body bgcolor="white">
<p>This package contains the core API's that most users will use.</p>
 
<p>The typical usage pattern is to be vended {@link freemarker.template.Template}
objects by the {@link freemarker.template.Configuration} object.
The <tt>Template</tt> class represents a template file compiled into an efficient
data structure for later use. Processing of compiled templates is very fast.</p>

<p>For complete instructions on how to use this package, please see
the <a href="../../manual/index.html" target="_top">manual</a>.
</body>
</html>
